@viewport {
  width: device-width;
    zoom: 1;
    min-zoom: 0.5;
    max-zoom: 3;
    user-zoom: fixed;
}
html {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-family: times;
  background-image: url(/assets/img/checker.png),
  linear-gradient(#3A3A78, #1b668c, #3A3A78);
  background-attachment: fixed;
  image-rendering: pixelated;
  background-repeat: xy;
}
#border1 {
  border: 0.325em solid #AAAAFF;
  padding: 0px;
}
#border2 {
  border: 0.125em;
  border-style: solid;
  border-color: #CCCCFF #8888EE #7777DD #8888EE;
  box-shadow: 0px 0.05em 0.2em 0.05em;
}
#border3 {
  border: 0.125em;
  border-style: solid;
  border-color: #CCCCFF #8888EE #7777DD #8888EE;
  box-shadow: 0px 0.05em 0.2em 0.05em;
}
#border4 {
  border: 0.325em solid #AAAAFF;
  background-color: #F0F0F0;
}
#border5 {
  border: 0.125em;
  border-style: solid;
  border-color: white darkgrey grey darkgrey;
  box-shadow: 0px 0.05em 0.2em 0.05em;
}
#border6 {
  border: 0.325em solid #F0F0F0;
  padding: 0px;
}
#border7 {
  border: 0.125em;
  width: 60%;
  border-style: solid;
  border-color: white darkgrey grey darkgrey;
  background-color: #F0F0F0;
  padding: 0px;
  box-shadow: 0px 1em 1em 0.625em;
}
#bordera {
  background-image: linear-gradient(90deg, rgba(170,170,255,1) 0%, rgba(204,204,255,0.7) 100%);
  border-top: 0.125em solid white;
  box-shadow: 0px 2em 2em 0.025em;
}
#bordera:hover {
background-image: linear-gradient(90deg, rgba(255,255,255,1), rgba(255,255,255,0.7));
}
#sitenav{
  position: absolute;
  top: 17%;
  left: 1%;
  height: 100%
  attachment: fixed;
}
p {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: left;
}
#navtext {
 padding: 0.2em;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: darkpurple;
}
a:hover {
  color: darkblue;
}
a:active {
  text-decoration: none;
}
@media only screen and (max-width: 1200px) {
  #sitenav {
    display: none;
    visibility: hidden;;
  }
  #border7 {
  width: 100%;
  }
p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: x-large;
}
}
#logo {
  filter: hue-rotate(0deg);
  filter: drop-shadow( 0em 0.5em 0.5em rgba(0, 0, 0, 1));
  image-rendering: smooth;
  width: 40%;
}
